body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}


button {
    padding: 10px;
    background-color: rgb(38, 189, 64);
    color: white;
    font-size: 1em;
    border-color: transparent;
}

h3 {
    text-align: center;
}

.header {
    padding: 5% 0;
    display: flex;   
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
}

.header h1 {
    color: rgb(58, 133, 194);
    padding: 15px;
    font-size: 3em;
    
}

#iniciar {   
    margin: 5% 30%;
    padding: 10px 50px;
}

@media screen and (max-width: 890px) {
    .container {
        flex-direction: column;
    }
}

.container {
    display: flex;    
    align-items: center;
    justify-content: center;
    flex: 1;   
    padding: 10% 0;      
}

#caixa {
    display: flex;
    flex-direction: column;    
}

#valor-compras {
    background-color: whitesmoke;
    border-color: rgb(216, 210, 210);
    padding: 10px;
    margin-bottom: 5px;    
}

#icon-caixa {    
    width: 20vw;
    height: 20vh;    
}

.cartela {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

#qtde-selos {
    text-align: center;
}

#posicoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#posicoes div {
    padding: 3px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 40%;
    border-color: rgba(70, 69, 70, 0.376);  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.checked {    
    font-weight: bold;
    border-color: rgb(49, 219, 77) !important; 
}

.pos15, .pos35, .pos55, .pos85, .pos100 {
    background-color: rgb(238, 196, 10); 
    color: white;  
    font-weight: bold;
}


.brindes-disponiveis {
    display: flex;
    flex-direction: column; 
    
}

li {
    list-style: none;
    display: flex;   
    flex-direction: row;  
}

li h4 {
    padding-right: 2rem;
    font-size: 0.8em; 
    padding: 0 10px;   
}

.brindes-lista {
    background-color: rgb(238, 196, 10); 
    color: white;  
    font-weight: bold;    
}

#resgatar {
    margin: 5% 10%;
}


